.light {
  width: 0;
  height: 0;
  position: absolute;
}

.elements {
  display: flex;
  position: absolute;
}

.expand {
  position: absolute;
  cursor: pointer;
  transform: translate(-8px, 7px);
}
