.light {
  width: 0;
  height: 0;
  position: absolute;
}

.button {
  position: relative;
  left: -0.5rem;
  top: -0.5rem;
  background: inherit;
  border: none;
  height: 1rem;
  width: 1rem;
  outline: none;
  cursor: pointer;
  border-radius: 100%;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 0 1px black;
}

.button.selected {
  box-shadow: 0 0 0 5px black, 0 0 0 1px white inset;
}

.tether {
  background: white;
  max-width: 10rem;
  border: 1px solid black;
  box-shadow: 0 0 5px white;
}