<div local-class="elements">
  {{#each lightFixture.elements as |lightElement|}}
    {{c-base-map-light-element selectedIds=selectedIds select=select lightElement=lightElement isSingleElement=isSingleElement}}
  {{/each}}
</div>