<section>
  <button onclick={{action 'selectAll'}}>Select all</button>
  <button onclick={{action 'deselectAll'}}>Deselect all</button>
</section>
<section local-class="image">
  {{#each lightFixtures as |lightFixture|}}
    {{c-base-map-light lightFixture=lightFixture selectedIds=selectedIds select=select}}
  {{/each}}

  <img src="http://baseos.cbrp3.c-base.org/dmxdmon/mainhall.png" />
</section>

<section>
  {{color-picker selectedChannels=selectedChannels setChannel=(action 'setChannel')}}
</section>