<span local-class="pi" onclick={{action 'pi'}} oncontextmenu={{action 'pi'}}>π</span>

{{#if showWarning}}
  <div local-class="warning" onclick={{action 'continue'}}>
    High Security Access Granted
  </div>
{{/if}}